br
div.panel.panel-default.switch-panel(style="width:200px;")
  div.panel-heading(style="position:relative")
    a.btn-link(href="#",style="position:absolute;left:10px;top:0.2em;font-size:2em;color:gray;")
      i.fa.fa-angle-left
    ul.switch-options(style="padding:0;list-style-type:none;width:120px;margin:auto;color:gray;font-weight:bold;letter-spacing:0.8em;")
      li(style="display:none;") 学生
      li(style="display:block") 学校
      li(style="display:none") 捐助
      li(style="display:none") 捐款
    a.btn-link(href="#",style="position:absolute;right:10px;top:0.2em;font-size:2em;color:gray;")
      i.fa.fa-angle-right
  div.panel-body
    div.search-panel__basic-query
    div.search-panel__result-area
    div.search-panel__filter-area
    div.search-panel__history-area
